body {
color:black;
background-image: url(pic1.jpg);
background-size:cover;
background-position:center;
border-bottom:1px solid black;
}
h1 {
color:black;
border-radius: 10px;
border-color: black;
border-width:2px;
border-style:solid;
background-color:#e5e4d7;
}
li a:hover:not(.activate){
background-color: #111;
color:white;
}
.activate{
background-color:#111;
color:white;
}
ul {
list-style-type: none;
margin:0;
padding:0;
overflow: hidden;
background-color: #e5e4d7;
}
li {
float:left;
border-right: 1px solid #111;
}
li a{
color:black;
text-decoration: none;
display: block;
text-align:center;
padding: 14px 16px;
}
#container {

position: fixed;

width: 340px;
   
height: 285px;
  
top: 50%;
  
left: 50%;
   
margin-top: -140px;
 
margin-left: -170px;
	
background: #e5e4d7;
 
border-radius: 3px;
 
border: 1px solid #ccc;

}
#container2 {

position: fixed;

width: 340px;
   
height: 410px;
  
top: 50%;
  
left: 50%;
   
margin-top: -140px;
 
margin-left: -170px;
	
background: #e5e4d7;
 
border-radius: 3px;
 
border: 1px solid #ccc;

}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=number] ,select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display:inline-block;
  border:  1px solid #ccc;
  border-radius: 4px;
  box-sizing:border-box;
}
.button {
  background-color:#111;
  color:white;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display:inline-block;
  border:  1px solid #ccc;
  border-radius: 4px;
  box-sizing:border-box;
  cursor:pointer;
}
.b {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display:inline-block;
  border:  1px solid #ccc;
  border-radius: 4px;
  box-sizing:border-box;
  cursor:pointer;
}
#row{
display:flex;
}
#col{
padding-left:250px;
padding-top:50px;
}
p {
font-size:30px;
backgroun-color: #e4e5d7;
}
.sidenav {
  height: 80%;
  width: 200px;
  position: fixed;
  z-index: 4;
  top: 140;
  left: 7.5;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px;
  font-size: 28px; 
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}